body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 8px 16px;
    margin: 0;
    border-radius: 9999px;
    font-size: 14px;
    background: #eee;
    z-index: 1;
}
